<div class="grid-x">
  <div class="small-3 cell">
    <h3>About Us</h3>
    <div class="">
      <div class="">A bit about us</div>
      <div class="">FAQ</div>
    </div>
  </div>
  <div class="small-3 cell">
    <h3>Our Policy</h3>
    <div class="">
      <div class="">Shipping</div>
      <div class="">Returns</div>
      <div class="">Size Guide</div>
    </div>
  </div>
  <div class="small-3 cell">
    <h3>Your Order</h3>
    <div class="">
      <div class="">My Account</div>
      <div class="">Order Status</div>
      <div class="">Request a Return</div>
    </div>
  </div>
  <div class="small-3 cell">
    <h3>Contact Us</h3>
    <div class="">
      <div class="">Monday-Friday 9:00am - 5:00pm IST</div>
      <div class="">Contact - +91-9799558592</div>
      <div class="">Email - contact@dorchee.com</div>
    </div>
  </div>
</div>
<div class="grid-x">
  <div class="small-6 cell">
    <h4>Payment Methods</h4>
  </div>
  <div class="small-6 cell">
    <h4>Secure Shopping</h4>
  </div>
</div>