
<div class="reveal" id="signUpModal" data-reveal>
	<div class="text-center">Sign-Up</div>
	<form class="example-form">
	  <mat-form-field class="example-full-width">
	    <input matInput placeholder="Your Name" [formControl]="signUpFormControl">
	  </mat-form-field>
	  <mat-form-field class="example-full-width">
	    <input matInput placeholder="Enter Mobile Number" [formControl]="signUpFormControl">
	  </mat-form-field>
	  <mat-form-field class="example-full-width">
	    <input matInput placeholder="Email(optional)" [formControl]="signUpFormControl">
	    <!-- <mat-error *ngIf="signUpFormControl.hasError('email') && !signUpFormControl.hasError('required')">
	      Please enter a valid email address
	    </mat-error>
	    <mat-error *ngIf="signUpFormControl.hasError('required')">
	      Email is <strong>required</strong>
	    </mat-error> -->
	  </mat-form-field>
	  <mat-form-field class="example-full-width">
	    <input matInput placeholder="Enter Password" [formControl]="signUpFormControl">
	    <!-- <mat-error *ngIf="signUpFormControl.hasError('required')">
	      Password is <strong>required</strong>
	    </mat-error> -->
	  </mat-form-field>
		<div class=" text-center">
			<button class="button" data-open="verifyModal">Continue</button>
		</div>
		<div class="">
			Existing User? <span data-open="loginModal">Login</span>
		</div>
	</form>
  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="reveal" id="verifyModal" data-reveal>
		<div class="text-center">Sign-Up</div>
		<form class="example-form">
		  <mat-form-field class="example-full-width">
		    <input matInput placeholder="Mobile Number" [formControl]="signUpFormControl">
		  </mat-form-field>
		  <mat-form-field class="example-full-width">
		    <input matInput placeholder="Enter Otp" [formControl]="signUpFormControl">
		    <!-- <mat-error *ngIf="signUpFormControl.hasError('required')">
		      Otp is <strong>required</strong>
		    </mat-error> -->
		  </mat-form-field>
			<div class=" text-center">
				<button class="button">VERIFY</button>
			</div>
			<div class="">
				Existing User? <span data-open="loginModal">Login</span>
			</div>
		</form>
	  
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</div>
<!-- 
	Need to put this in based on the condition that if clicked on login then this will be added else it will not be added and same will be updated in Login HTML file.
	<app-login></app-login>
 -->
