<app-header></app-header>
<div class="grid-x">
	<div class="medium-6 cell text-left">
		
	</div>
	<div class="medium-6 cell text-right">
		<mat-form-field>
		  <mat-select [(value)]="selected">
		    <mat-option>None</mat-option>
		    <mat-option value="option1">Option 1</mat-option>
		    <mat-option value="option2">Option 2</mat-option>
		    <mat-option value="option3">Option 3</mat-option>
		  </mat-select>
		</mat-form-field>
	</div>

</div>
<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="medium-3 cell">
			<div class="productCategoryOuterContainer">
				<div class="productSelectorHeading">Category</div>
				<div class="productSelector">
					Shirts
					<div class="productSelectorSubHeading">
						<div>Denim</div>
						<div>Linen</div>
						<div>Plain</div>
						<div>Printed</div>
						<div>Short Sleeves</div>
						<div>Stripes and Check</div>
						<div>Marked Down</div>
						<div>View All</div>
					</div>
				</div>
			</div>
			<div class="productFitOuterContainer">
				<div class="productSelectorHeading">Fit</div>
				<div class="productSelectorSubHeading">
		      <div class="">
		      	<mat-checkbox class="">Regular Fit</mat-checkbox>
	      	</div>
	      	<div class="">
	      		<mat-checkbox class="">Slim Fit</mat-checkbox>	
	      	</div>
				</div>
			</div>
			<div class="productSizeOuterContainer">
				<div class="productSelectorHeading">Size</div>
				<div class="productSelectorSubHeading">
		      <div class="">
		      	<mat-checkbox class="">S</mat-checkbox>
		      	<mat-checkbox class="">XL</mat-checkbox>
	      	</div>
	      	<div class="">
	      		<mat-checkbox class="">M</mat-checkbox>	
	      		<mat-checkbox class="">2XL</mat-checkbox>	
	      	</div>
	      	<div class="">
	      		<mat-checkbox class="">L</mat-checkbox>	
	      		<mat-checkbox class="">3XL</mat-checkbox>	
	      	</div>
				</div>
			</div>
			<div class="productPriceOuterContainer">
				<div class="productSelectorHeading">Price</div>
				<div class="productSelectorSubHeading">
		      <div class="">
	      	</div>
				</div>
			</div>
		</div>
		<div class="medium-9 cell">
			<div class="grid-x grid-padding-x grid-padding-y">
				<div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div> 
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div> 
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div>
			  <div class="medium-4 cell">
			    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
			    <div class="alsoLikeProductDetailContainer text-center">
			    	<div class="alsoLikeProductDetail">
			    		<div class="productName">Double Layered Shirt</div>
			    		<div class="fitCategory">Regular FIt</div>
			    	</div>
			    	<div class="alsoLikeProductPrice">
			    		<span class="originalPrice">$98.00</span>
			    		<span class="discountedPrice">$49.00</span>
			    	</div>
			    </div>
			  </div> 
			</div>		
		</div>
	</div>
</div>
<app-footer></app-footer>