<div class="grid-x">
	<div class="medium-4 cell"></div>
	<div class="medium-8 cell">
		<div class="grid-x">
			<div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div> 
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div> 
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div> 
		</div>		
	</div>
</div>
