<div class="grid-x">
	<div class="medium-6 cell text-left">
		
	</div>
	<div class="medium-6 cell text-right">
		<mat-form-field>
		  <mat-select [(value)]="selected">
		    <mat-option>None</mat-option>
		    <mat-option value="option1">Option 1</mat-option>
		    <mat-option value="option2">Option 2</mat-option>
		    <mat-option value="option3">Option 3</mat-option>
		  </mat-select>
		</mat-form-field>
	</div>

</div>
<div class="grid-x">
	<div class="medium-3 cell">
		
	</div>
	<div class="medium-9 cell">
		<div class="grid-x">
			<div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div> 
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div> 
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div>
		  <div class="medium-4 cell">
		    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
		    <div class="alsoLikeProductDetailContainer text-center">
		    	<div class="alsoLikeProductDetail">
		    		<div class="productName">Double Layered Shirt</div>
		    		<div class="fitCategory">Regular FIt</div>
		    	</div>
		    	<div class="alsoLikeProductPrice">
		    		<span class="originalPrice">$98.00</span>
		    		<span class="discountedPrice">$49.00</span>
		    	</div>
		    </div>
		  </div> 
		</div>		
	</div>
</div>
