@import '../../../assets/foundation-sites/global';

.productSelectorHeading {
	font-size: rem-calc(20);
	border-bottom: 1px solid #dcdcdc;
	text-transform: uppercase;
}

.productSelector {
	font-size: rem-calc(18);
}

.productSelectorSubHeading {
	font-size: rem-calc(16);
}