<app-header></app-header>
<div class="grid-container">
  <div class="grid-x grid-padding-y grid-padding-x">
    <div class="small-12 medium-6 cell">
      <img src="../assets/images/homepage-images/rect1.png" routerLink="/productCategory">
    </div>
    <div class="small-12 medium-6 cell">
      <div class="grid-y grid-padding-y">
        <div class="small-12 cell">
          <img src="../assets/images/homepage-images/rect2.png" routerLink="/productCategory">
        </div>
        <div class="small-12 cell">
          <img src="../assets/images/homepage-images/rect3.png" routerLink="/productCategory">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x grid-padding-y grid-padding-x">
    <div class="small-12 medium-6 cell">
      <div class="grid-y grid-padding-y">
        <div class="small-12 cell">
          <img src="../assets/images/homepage-images/rect2.png" routerLink="/productCategory">
        </div>
        <div class="small-12 cell">
          <img src="../assets/images/homepage-images/rect3.png" routerLink="/productCategory">
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 cell">
      <img src="../assets/images/homepage-images/rect1.png" routerLink="/productCategory">
    </div>
  </div>

  <ul class="tabs" data-tabs id="promotionalTabs">
    <li class="tabs-title is-active">
      <a href="#newArrivalPanel" aria-selected="true">NEW ARRIVAL</a>
    </li>
    <li class="tabs-title">
      <a href="#topSalePanel">TOP SALE</a>
    </li>
    <li class="tabs-title">
      <a href="#saleOffPanel">SALE OFF</a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="promotionalTabs">
    <div class="tabs-panel is-active" id="newArrivalPanel">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="topSalePanel">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="saleOffPanel">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
        <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
          <a href="javascript:void(0)">
            <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
            <span class="image-hover-wrapper-reveal">
              <div>
                <div>
                  <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                </div>
                <div>
                  <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                </div>
              </div>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x align-center">
    <div class="small-6 text-center cell">
      <h2>WE SHARE BEAUTIFUL NEWS!!</h2>
      <div class="">
        Receive 10% off your next order when you sign up for our newsletter.
      </div>
      <div class="input-group">
        <input type="text" class="input-group-field" name="email" placeholder="Enter your email...">
        <div class="input-group-button">
          <input type="submit" class="button" value="Subscribe">
        </div>
      </div>
      <div class="">
        *the promo code will be sent to the email address entered.
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="instagramPhotoSection">
    </div>
  </div>
</div>
<app-footer></app-footer>