<app-header></app-header>
<div class="grid-x grid-padding-y">
  <div class="small-12 medium-6 cell">
    <img src="../assets/images/homepage-images/rect1.png">
  </div>
  <div class="small-12 medium-6 cell">
    <div class="grid-y">
      <div class="small-12 cell">
        <img src="../assets/images/homepage-images/rect2.png">
      </div>
      <div class="small-12 cell">
        <img src="../assets/images/homepage-images/rect3.png">
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-padding-y">
  <div class="small-12 medium-6 cell">
    <div class="grid-y">
      <div class="small-12 cell">
        <img src="../assets/images/homepage-images/rect2.png">
      </div>
      <div class="small-12 cell">
        <img src="../assets/images/homepage-images/rect3.png">
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 cell">
    <img src="../assets/images/homepage-images/rect1.png">
  </div>
</div>
<div class="grid-x align-center">
  <div class="cell small-6 text-center">
    NEW ARRIVAL TOP SALE SALE OFF
  </div>
</div>
<div class="grid-x">
  <div class="cell small-3">
    <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
  </div>
  <div class="cell small-3">
    <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
  </div>
  <div class="cell small-3">
    <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
  </div>
  <div class="cell small-3">
    <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
  </div>
</div>
<div class="grid-x align-center">
  <div class="small-6 text-center">
    <h2>WE SHARE BEAUTIFUL NEWS!!</h2>
    <div class="">
      Receive 10% off your next order when you sign up for our newsletter.
    </div>
    <div class="input-group">
      <input type="text" class="input-group-field" name="email" placeholder="Enter your email...">
      <div class="input-group-button">
        <input type="submit" class="button" value="Subscribe">
      </div>
    </div>
    <div class="">
      *the promo code will be sent to the email address entered.
    </div>
  </div>
</div>
<div class="grid-x">
  <div class="instagramPhotoSection">
  </div>
</div>
<app-footer></app-footer>