<app-header></app-header>
<div class="grid-x grid-padding-x">
	<div class="small-12 medium-7 cell">
		<div>Your Cart (2 Item)</div>
		<div class="grid-x grid-padding-x">
			<div class="medium-6 cell">
				<div class="text-center">Item Description</div>
			</div>
			<div class="medium-3 cell">
				<div class="text-center">Quantity</div>
			</div>
			<div class="medium-3 cell">
				<div class="text-center">Size</div>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="medium-6 cell">
				<div class="grid-x">
					<div class="medium-5 cell">
						<img src="../assets/images/homepage-images/pic4.png" alt="Bought Product">	
					</div>
					<div class="medium-7 cell">
						<div>Double Layered Printed Shirt</div>
						<div>
							<span>$98.00</span>
							<span>%49.00</span>
							<span>50% OFF</span>
						</div>
						<div>
							<span>Remove</span>
							<span>Move to wishlist</span>
						</div>
					</div>
				</div>
			</div>
			<div class="medium-3 cell text-center">
				<div class="text-center">1</div>
			</div>
			<div class="medium-3 cell text-center">
				<div class="text-center">L</div>
			</div>
		</div>
	</div>
	<div class="small-12 medium-4 cell large-offset-1">
		<div>
			<span><img src="assets/images/deliveryTruck.svg" alt="Delivery Truck"></span>
			<span>Shop for Rs. 1500 or more to get free delivery</span>
		</div>
		<div class="text-center">
			<button class="button">APPLY COUPON</button>
		</div>
		<div>ORDER SUMMARY</div>
		<div>
			<div class="clearfix">
				<span class="float-left">Sub Total</span>
				<span class="float-right">Rs. 3000</span>
			</div>
			<div class="clearfix">
				<span class="float-left">Discount</span>
				<span class="float-right">- Rs. 1000</span>
			</div>
			<div class="clearfix">
				<span class="float-left">Shipping Charges</span>
				<span class="float-right">+ Rs. 90</span>
			</div>
			<div class="clearfix">
				<span class="float-left">Total</span>
				<span class="float-right">Rs. 2090</span>
			</div>
			<div class="clearfix">
				<span class="float-right">*GST included</span>
			</div>
			<div class="text-center">
				<button class="button" routerLink="/productCategory">CONTINUE SHOPPING</button>
			</div>
			<div class="text-center">
				<button class="button" routerLink="/confirmOrder">PROCEED TO PAYMENT</button>
			</div>
		</div>
	</div>
</div>
<app-payment-footer></app-payment-footer>